/* Tomas Javier Rodriguez Ocampo */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0ebed;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

main {
    padding: 80px 10px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
